@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "../node_modules/rc-tooltip/assets/bootstrap.css";

a {
    text-decoration: none;
}

.min-w-0 {
    min-width: 0;
}

.flex-basis-0 {
    min-width: 0 !important;
    min-height: 0 !important;
    flex-basis: 0 !important;
}

.text-editor {
    font-size: 1rem;
    font-family: monospace;
}

.bg-hovered {
    background-color: rgb(83, 0, 192);
}

.bg-selected {
    background-color: rgb(154, 11, 250);
}

.max-responsive-size-35 {
    max-height: 35%;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }

.hovered {
    @extend .bg-hovered;
    border-radius: 0.3rem;
    margin: -0.3rem;
    padding: 0.3rem;
    cursor: pointer;
}

.selected {
    @extend .bg-selected;
    border-radius: 0.3rem;
    margin: -0.3rem;
    padding: 0.3rem;
    cursor: pointer;
}

.pointer {
    cursor: pointer;
}

.flex-basis-0 {
    flex-basis: 0;
    min-width: 0;
    min-height: 0;
}

.responsive-flex-direction {
    flex-direction: column;
}
@media only screen and (min-aspect-ratio: 1/1) {
    .responsive-flex-direction {
        flex-direction: row;
    }
    .max-responsive-size-35 {
        max-height: unset;
        max-width: 35%;
    }
    
}

.scroll {
    overflow: hidden auto;
}
